<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jason.mapper.LanguageMapper">
    <resultMap id="LanguageMapper" type="com.jason.dto.Language">
        <id column="language_id" property="languageId"></id>
        <result column="name" property="name"></result>
    </resultMap>

    <delete id="delete" parameterType="int">
        DELETE FROM `language` where language_id = #{languageId}
    </delete>

    <select id="selectAll" resultMap="LanguageMapper">
        select * from `language`
    </select>
    <select id="selectCount" resultType="int">
        select count(*) from `language`
    </select>
</mapper>